.add__link {
  text-decoration: none;
}

.add__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-fourth;
  text-transform: uppercase;
}

.add__desc {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-primary;
}

.add__button {
  color: $text-color-primary;
  background-color: $bg-color-third;
}
