.address__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-fourth;
  text-transform: uppercase;
}

.address__text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $text-color-primary;
}
