.advantages__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $text-color-secondary;
}

.advantages__list {
  list-style: none;
}

.advantages__item {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $text-color-primary;
}
