.basic__list {
  list-style: none;
}

.basic__link-title {
  text-decoration: none;
}

.basic__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $text-color-fifth;
  text-transform: uppercase;
}

.basic__properties {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-primary;
}

.basic__value {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 16px;
  color: $text-color-primary;
}
